 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .main {
     background-color: #37B7C3;
     min-height: 100vh;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding-bottom: 50px;
 }

 header {
     height: 140px;
     width: 100vw;
     font-family: futura;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 header h1 {
     font-size: 4vw;
     text-transform: uppercase;
     color: #071952;
     text-shadow: 5px 5px 10px white;
 }

 header h3 {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 25px;
     text-transform: uppercase;
     text-shadow: 1px 1px 3px white;
 }

 .form {
     height: 60vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 form {
     padding: 10px;
     height: 57vh;
     background-color: white;
     width: 90vw;
     display: flex;
     justify-content: center;
     align-items: start;
     flex-direction: column;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 label {
     font-size: 20px;
     letter-spacing: 1px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-shadow: 1px 1px 3px #37B7C3;
 }

 input {
     height: 36px;
     margin-bottom: 15px;
     width: 90%;
     margin-left: 15px;
     outline: none;
     border: none;
     border-bottom: 2px solid rgb(231, 231, 231);
     font-size: 17px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 100;
     color: rgb(0, 0, 0);
     background-color: #E8F0FE;
 }

 input:focus {
     border-bottom: 2px solid rgb(148, 148, 223);
 }

 form button {
     height: 40px;
     width: 140px;
     font-size: 18px;
     text-transform: uppercase;
     border-radius: 3px;
     letter-spacing: 1px;
     background-color: #37B7C3;
     color: white;
     border: none;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     text-shadow: 1px 1px 3px black;
     transition: 0.3s ease-in-out;
 }


 form button:hover {
     background-color: #3CCB39;
 }

 .Table {
     margin-top: 100px;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border: 1px solid black;

 }

 .Table h1 {
     color: #071952;
     font-size: 2vw;
     font-weight: 700;
     text-shadow: 1px 1px 3px #ffffff;
     transition: all 1s linear;
 }

 .Table h1:hover {
     color: aqua;
     cursor: pointer;
 }


 table {
     border: 1px solid black;
     padding: 5px;
     font-size: 25px;
     text-shadow: 1px 1px 3px #37B7C3;
 }

 tr {
     height: 30px;
     width: 80vw;
 }

 th {
     width: 18vw;
     text-align: center;
     color: black;
 }

 td {
     padding: 2px;
     color: #071952;
     border: 1px solid black;
     text-align: center;
     font-weight: 500;
 }



 td i {
     cursor: pointer;
 }

 footer {
     height: 200px;
     width: 100vw;
     padding: 50px 0px 10px 0px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
 }

 .footer-content {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     height: 100%;
     width: 100%;
     font-size: 20px;
 }

 /* <!-- --------------------------------------Media  query for mobile-------------------------------------------- --> */

 @media (max-width:600px) {

     header {
         height: 140px;
         padding: 5px 10px;
     }

     header h1 {
         font-size: 7vw;
         text-align: center;
     }

     header h3 {
         font-size: 17px;
         text-align: center;
     }

     form button {
         height: 30px;
         width: 120px;
         font-size: 15px;
     }

     .Table {
         margin-bottom: 50px;
     }

     .Table h1 {
         color: #071952;
         font-size: 6vw;
         margin: 10px 0px;
     }

     table {
         padding: 0px;
         font-size: 25px;
     }

     tr {
         height: 30px;
         width: 100vw;
     }

     th {
         font-size: 11px;
     }

     td {
         padding: 0px;
         font-weight: 500;
         font-size: 15px;
         border-top: 1px solid black;
         border-bottom: 1px solid black;
     }


     td i {
         cursor: pointer;
     }
 }